.mainContainer {
    height: 100vh;
}

.robotImage {
    /* position: fixed; */
    /* object-fit: cover; */
    position: absolute;
    /* top: -61.5%; */
    /* right: -24.5%; */
    /* transform: scale(0.55); */
    z-index: -20;

    transform-origin: top right;
    right: 0;
    top: 15%;

    right: 0;
    top: 15%;

    width: 55%;
    height: 163%;
}

@media screen and (max-width: 960px) {
    .robotImage {
        display: none;
    }
}