.mainContainer {
    height: 100vh;
}

.contentContainer {
    height: 100%;
    width: 100%;
    position: relative;

    padding-bottom: 1rem;
    overflow-x: hidden;
}


.headImg {
    position: absolute;
    object-fit: contain;

    bottom: 0;
    right: 0;

    /* transform-origin: bottom right; */
    /* transform: scale(0.4); */

    width: 55vw;
    height: auto;

    z-index: -20;
}

@media screen and (max-width: 1440px) {
    .headImg {
        width: 65vw;
        opacity: 0.35;
    }
}

@media screen and (max-width: 1200px) {
    .headImg {
        width: 85vw;
        opacity: 0.35;
        right: -25%;
    }
}
@media screen and (max-width: 960px) {
    .headImg {
        display: none;
        width: 150vw;
        right: -80%;
    }
}
@media screen and (max-width: 650px) {
    .headImg {
        width: 205vw;
        right: -125%;
    }
}

@media screen and (max-width: 450px) {
    .headImg {
        width: 300vw;
        right: -200%;
    }
}